
services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    platform: linux/amd64
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${SA_PASSWORD}
    ports:
      - "1433:1433"
    volumes:
      - mssqldata:/var/opt/mssql

  seq:
    image: datalust/seq:2024.3
    environment:
      - ACCEPT_EULA=Y
    ports:
      - "5341:80"
    volumes:
      - seqdata:/data

  api:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
      - seq
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=db,1433;Database=WebApi;User Id=sa;Password=${SA_PASSWORD};TrustServerCertificate=True
      - Serilog__WriteTo__1__Args__serverUrl=http://seq:80
      - JWT__Issuer=${JWT_ISSUER}
      - JWT__Audience=${JWT_AUDIENCE}
      - JWT__SigningKey=${JWT_SIGNING_KEY}
    ports:
      - "8080:8080"

volumes:
  mssqldata:
  seqdata:
